{% extends "base.html" %}
{% block contenido %}

<!-- =========================
HEADER
========================= -->

<div class="top-header">

    <div>
        <h1>Gestión de Contactos</h1>
        <p>Administra tus profesores y compañeros</p>
    </div>

    <button
        class="btn-add"
        onclick="abrirModalAgregar()"
    >
        + Agregar Contacto
    </button>

</div>

<!-- =========================
BUSCADOR
========================= -->

<div class="search-box mb-4">

    <input
        type="text"
        id="buscadorContactos"
        class="search-input"
        placeholder="🔍 Buscar contactos..."
        onkeyup="buscarContactos()"
    >

</div>

<!-- =========================
CARDS CONTACTOS
========================= -->

<div class="cards-grid">

{% for c in contactos %}

<div class="contact-card contacto-item">

    
    <!-- ICONOS -->
<div class="acciones">

    <!-- EDITAR -->
    <button
        type="button"
        class="icono editar btn-edit"
        onclick="abrirEditarContacto(
            '{{ c[0] }}',
            '{{ c[1] }}',
            '{{ c[3] }}',
            '{{ c[2] }}'
        )"
    >

        <i class="fas fa-edit"></i>

    </button>

    <!-- ELIMINAR -->
    <button
        type="button"
        class="icono eliminar btn-delete"
        onclick="abrirEliminarModal(
            '{{ c[0] }}',
            '{{ c[1] }}'
        )"
    >

        <i class="fas fa-trash"></i>

    </button>

  </div>

    <!-- AVATAR -->
    <div class="avatar">
        {{ c[1][0] }}
    </div>

    <!-- NOMBRE -->
    <h3>{{ c[1] }}</h3>

    <!-- ROL -->
    <p class="rol-contacto">
        Contacto
    </p>

    <div class="line"></div>

    <!-- EMAIL -->
    <p>📧 {{ c[3] }}</p>

    <!-- TELEFONO -->
    <p>📞 {{ c[2] }}</p>

</div>

{% endfor %}

</div>
<p id="sinResultados"
   style="display:none;"
   class="text-center mt-4 text-muted">

    No se encontraron contactos

</p>
<!-- =========================
MODAL AGREGAR CONTACTO
========================= -->

<!-- MODAL AGREGAR CONTACTO -->

<div id="modalAgregar" class="modal-overlay">

    <div class="modal-contacto">

        <!-- HEADER -->

        <div class="modal-header-custom">

            <h2>Nuevo Contacto</h2>

            <span class="close"
                  onclick="cerrarModalAgregar()">

                &times;

            </span>

        </div>

        <!-- FORMULARIO -->

        <form method="POST"
              action="/crear_contacto">

            <!-- NOMBRE -->

            <label>Nombre Completo</label>

            <input
                type="text"
                name="nombre"
                placeholder="Nombre completo"
                required
            >

            <!-- EMAIL -->

            <label>Correo Electrónico</label>

            <input
                type="email"
                name="email"
                placeholder="correo@unicomfacauca.edu.co"
                required
            >

            <!-- TELEFONO -->

            <label>Teléfono</label>

          <input
           type="text"
           name="telefono"
           id="telefono"
           placeholder="3012286080"
           maxlength="10"
           required
           oninput="validarTelefono(this)"
          >

            <!-- ROL -->

            <label>Rol</label>

            <select name="rol">

                <option value="estudiante">
                    Estudiante
                </option>

                <option value="profesor">
                    Profesor
                </option>

            </select>

            <!-- BOTONES -->

            <div class="modal-buttons">

                <button
                    type="button"
                    class="btn-cancel"
                    onclick="cerrarModalAgregar()"
                >
                    Cancelar
                </button>

                <button
                    type="submit"
                    class="btn-save"
                >
                    Crear Contacto
                </button>

            </div>

        </form>

    </div>

</div>
<script>

function validarTelefono(input){

    // SOLO NÚMEROS
    input.value = input.value.replace(/\D/g, '');

    // MÁXIMO 10 DÍGITOS
    if(input.value.length > 10){

        input.value = input.value.slice(0,10);
    }
}    

function buscarContactos(){

    let input = document.getElementById(
        "buscadorContactos"
    ).value.toLowerCase();

    let contactos = document.querySelectorAll(
        ".contacto-item"
    );

    let encontrados = 0;

    contactos.forEach(function(contacto){

        let texto = contacto.innerText.toLowerCase();

        if(texto.includes(input)){

            contacto.style.display = "block";

            encontrados++;

        }else{

            contacto.style.display = "none";
        }
    });

    let mensaje = document.getElementById(
        "sinResultados"
    );

    if(encontrados == 0){

        mensaje.style.display = "block";

    }else{

        mensaje.style.display = "none";
    }
}

</script>
<!-- ===================================
MODAL EDITAR CONTACTO
=================================== -->

<div id="modalEditar" class="modal-overlay-custom">

    <div class="modal-contacto">

        <!-- HEADER -->

        <div class="modal-top">

            <h2>Editar Contacto</h2>

            <span
                class="cerrar-modal"
                onclick="cerrarEditarModal()"
            >
                &times;
            </span>

        </div>

        <!-- FORM -->

        <form
            id="formEditar"
            method="POST"
        >

            <!-- NOMBRE -->

            <label>Nombre Completo</label>

            <input
                type="text"
                name="nombre"
                id="editNombre"
                required
            >

            <!-- EMAIL -->

            <label>Correo Electrónico</label>

            <input
                type="email"
                name="email"
                id="editEmail"
                required
            >

            <!-- TELÉFONO -->

            <label>Teléfono</label>

            <input
                type="text"
                name="telefono"
                id="editTelefono"
                required
            >

            <!-- BOTONES -->

            <div class="botones-modal">

                <button
                    type="button"
                    class="btn-cancelar"
                    onclick="cerrarEditarModal()"
                >
                    Cancelar
                </button>

                <button
                    type="submit"
                    class="btn-guardar"
                >
                    Guardar Cambios
                </button>

            </div>

        </form>

    </div>

</div>

<script>

function abrirEditarContacto(
    id,
    nombre,
    email,
    telefono
){

    document.getElementById(
        "modalEditar"
    ).style.display = "flex";

    document.getElementById(
        "editNombre"
    ).value = nombre;

    document.getElementById(
        "editEmail"
    ).value = email;

    document.getElementById(
        "editTelefono"
    ).value = telefono;

    document.getElementById(
        "formEditar"
    ).action = "/editar_contacto/" + id;
}

function cerrarEditarModal(){

    document.getElementById(
        "modalEditar"
    ).style.display = "none";
}

/* CERRAR AL DAR CLICK AFUERA */

window.onclick = function(event){

    let modal = document.getElementById(
        "modalEditar"
    );

    if(event.target == modal){

        modal.style.display = "none";
    }
}

</script>

<!-- ===================================
MODAL ELIMINAR CONTACTO
=================================== -->

<div id="modalEliminar" class="modal-overlay-custom">

    <div class="modal-delete">

        <!-- ICONO -->

        <div class="delete-icon">

            <i class="fas fa-trash"></i>

        </div>

        <!-- TÍTULO -->

        <h2>
            Eliminar contacto
        </h2>

        <!-- MENSAJE -->

        <p id="mensajeEliminar">

        </p>

        <!-- BOTONES -->

        <div class="delete-buttons">

            <button
                onclick="cerrarEliminarModal()"
                class="btn-cancel-delete"
            >
                Cancelar
            </button>

            <a
                id="btnEliminarFinal"
                class="btn-confirm-delete"
            >
                Sí, eliminar
            </a>

        </div>

    </div>

</div>

<!-- ===================================
SCRIPT MODAL ELIMINAR
=================================== -->

<script>

function abrirEliminarModal(id, nombre){

    document.getElementById("modalEliminar").style.display = "flex";

    document.getElementById("mensajeEliminar").innerHTML =
        `¿Seguro que deseas eliminar a <b>${nombre}</b>?`;

    document.getElementById("btnEliminarFinal").href =
        "/eliminar_contacto/" + id;
}

function cerrarEliminarModal(){

    document.getElementById("modalEliminar").style.display = "none";
}

</script>


{% endblock %}
